@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-Bold.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-Black.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY Bold It', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-BoldItalic.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-Medium.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY Medium It', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-MediumItalic.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY Black It', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-BlackItalic.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-Thin.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-RegularItalic.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-Regular.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoyle PERSONAL USE ONLY Thin It', Verdana, Tahoma, sans-serif;
    src: url('HoylePERSONALUSEONLY-ThinItalic.woff2') format('woff2'),
        url('HoylePERSONALUSEONLY-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

body {
    font-family:  'hoyle PERSONAL USE ONLY', Verdana, Tahoma, sans-serif;
}

html{
    background-color:rgb(251, 225, 238);
    display:flex;
    align-items: center;
}

.page-description h2 {
    font-family: 'hoyle PERSONAL USE ONLY-Thin It', Verdana, Tahoma, sans-serif;
}
/*buttons for state/ cities */

.dropdown_div {    
    position: relative;    
    display: inline-block;}

.dropdown_button {    
    background-color: #494549; /* button background colour */    
    color: #ffffff;    
    padding: 14px;    
    font-size: 16px;    
    border: none;    
    border-radius: 10px;
    cursor: pointer;
}
/* Button function */

    .dropdown_content {    
        display: none; /* remove this to show all links before hovering */    
        position: absolute;    
        background-color: #f9f9f9; /* dropdown items - background colour */    
        width: 100%; /* can remove this if you want to make the menu wider/narrower  */    
        /* min-width: 180px; can add this if you need to change the minimu width of menu */    
        box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
    }

        .dropdown_content a {    
            font-family:Arial;    
            color: #000000;    
            padding: 12px 18px;    
            text-decoration: none;    
            display: block;
        }

            .dropdown_content a:hover {    
                background-color: #a194a0; /* dropdown items hover - change background colour */
            }

                .dropdown_div:hover .dropdown_content {    
                    display: block;
                }

                .dropdown_div:hover .dropdown_button {    
                    background-color: #302e30; /* button hover - change background colour */
                }

                    p{    
                        font-family:Arial;
                    }

                    h2{    
                        font-family:Arial;
                    }

                    /* Button function */