@font-face {
    font-family: 'manrope';
    src: url('../css/Manrope[wght].ttf') 
    format('truetype');
    font-size: 100%;
    font-weight: 100 900;
    font-style: normal;
}

* {
    Box-sizing: border-box;
} 
    
.address a:visited{
    color:purple;
}

a.business-title-link{
   color:inherit;
   font-size: 1.21rem;
   font-weight: 600;
   margin:.5rem 0 .5rem 0;
   padding-top: .5rem;
   text-align: center;
   text-decoration: none;
}

body {
    background: -webkit-linear-gradient(top left, rgba(249, 249, 249, 1.0), rgba(249, 190, 247, .5));
    background: -moz-linear-gradient(top left, rgba(249, 249, 249, 1.0), rgba(249, 190, 247, 1.0));
    background: linear-gradient(to bottom right, rgba(249, 249, 249, 1.0), rgba(249, 190, 247, 1.0));;
    font-family: 'manrope', Verdana, Tahoma, sans-serif;
    color: #443f42;
    font-weight: 400;
}

.business-title{
    margin:.5rem;
}

.button_div {    
  position: absolute; 
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.buttons {    
    background-color: rgb(152, 6, 219); /* button background colour */        
    border-radius: 5rem;
    box-shadow: .2rem .2rem rgba(244, 123, 248, 0.5);
    cursor: pointer;
    color: rgb(247, 245, 247);    
    font-size: 1rem;    
    font-weight: 700;
    margin: .5rem 0 1rem 0;
    padding: .75rem;    
    text-align: center;
    text-shadow: .04rem .03rem rgb(136, 133, 135);
    width: 18rem;
}

.buttons a{
    color:rgb(247, 245, 247);
    margin: -2rem;
    padding:.75rem 4.5rem;
    text-decoration: inherit;
}

.buttons:hover{
    background: .2rem  rgb(202, 18, 147);
    box-shadow: .07rem .07rem  rgba(243, 2, 171, 0.11),
                .1rem .1rem  rgba(243, 2, 171, 0.11),
                .175rem .175rem  rgba(243, 2, 171, 0.11),
                .25rem .25rem  rgba(243, 2, 171, 0.11),
                .3rem .3rem  rgba(243, 2, 171, 0.10);
    color: rgb(247, 245, 247);
    transition: .5s;
}


.card-container h3{
    color:  rgb(68, 63, 66);
    margin:0 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.card-container{
    background: rgb(248, 234, 245, .7);
    border-radius: .5rem;
    box-shadow: .275rem .275rem .625rem .275rem rgba(62, 32, 46, 0.5);
    margin: 1rem;
    padding:.5rem;
}

.card-container p{
    margin: .5rem 0;
}

.container{
    position:relative;
    min-height: 100vh;
}

.date-range{
    background:rgb(202, 18, 147);
    color:rgb(247, 245, 247);
    font-size: 1.25rem;
    height: 2.5rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
    width: 100%;
}

.date-range h4{
    padding: .5rem;
}

.details{
    margin: .5rem;
}

div.card-container div.photos-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

figure{
    margin:.25rem;
}               
                    
.footer{
    bottom:0;    
    font-size: .75rem;
    height: 2rem;
    margin-top: 1rem;
    padding:.5rem;
    width: 100%;
}

footer a{
    color: inherit;
    margin: .5rem;
    text-decoration: none;

}


h1{
    color: rgb(202, 18, 147);
    font-size: 2.5rem;
    font-weight: 800;
    margin: .5rem 1rem .5rem 1rem;
    text-align: center;
    text-shadow: 0 .05rem .05rem rgba(86, 2, 97, 0.8);
}

h1 a{
    color: rgb(202, 18, 147);
    content: inherit;
    cursor:pointer;
    text-decoration: none;
}
.heading{
    color: rgb(115, 4, 167);
    margin: 1rem 2rem;
}

.heading h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: .5rem;
    text-align: center;
    text-shadow: 0 .025rem .025rem rgba(86, 2, 97, 0.8);;
}

h2 span{
    font-weight: 900;
}

.home-photo{
    opacity: .85;
    width: 100%;
}

.main-home-div{
    margin: 1.5rem 0 0 0;
    position: relative;
}

.main-home-div h4{
    font-size: 1.5rem;
    position: absolute; 
    top: 2%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
}

/* In the title */
p span{
    font-weight: 600;
}

.page-description{
    border-radius: .5rem;
    box-shadow: .275rem .275rem .625rem .275rem rgba(62, 32, 46, 0.5);
    line-height: 1.3rem;
    margin: 1rem 1rem .5rem 1rem ;
    text-align: center;
    padding: .5rem;
}

.page-description span{
    font-weight: 800;
}

.phone, .contact a{
    color:rgb(43, 40, 42);
    font-size: .875rem;
    line-height: 1.5rem;
    padding: .25rem 0 .25rem 0;
    text-decoration: none;
}

.phone, .contact a:hover{
    color:blue;
    cursor:pointer;
}

.provider{
    display: flex;
    align-items:flex-start;
    justify-content:left;
}

.provider-photo img{
border-radius: .1rem;
}

.provider-photo{
    margin: .5rem;
}

/* in appointments div*/
.svc span{
    color:rgb(169, 4, 45);
    font-size: 1.125rem;
    font-weight: 600;
}

.title{
    align-items: baseline;
    display:flex;
    justify-content:space-evenly;
    flex:none;
    width:100%;
}

/* Cannot for the life of me remove the
padding on Billings pg */
ul.ul-availability, ol{
    padding: 0;
    padding-inline-start: 0;
}

.weeks-appointments{
    line-height: 1.4rem;
    margin: .5rem;
    max-width: 100%;
}

.weeks-appointments .day{
    font-size: 1.21rem;
    font-weight: 800;
    line-height: 1.6rem;
    color:  rgb(115, 4, 167);
    
    text-align: left;
}

.weeks-appointments .time{
    font-weight: 650;
  
}

.weeks-appointments .svc{
    margin-bottom: .25rem;
}



